.hero--image{
    width: 90%;
    align-self: center;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding:100px 20px !important;

}

.hero--title{
    display: flex;
    align-items: center;
    margin-top:20px;
}

.hero--icon{
    width:30px;
    height: 30px;
    margin-right: 15px;
}

.hero--main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary{
    font-size: 20px;
    justify-self: center;
}

.hero--buttons{
    display: flex;
}

@media screen and (max-width: 1000px) {
    .hero--image{
        width: 100%;
    }

    .secondary, .primary{
        margin-left: 15px;
    }

    .primary{
        font-size:20px;
        margin-left:0px;
    }

    .hero--button{
        width:70%;
    }
}

