
/* Full-width input fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
img {
}

.auth--container{
  display: flex;
  height:85vh;
}

.auth--info{
  width: 100%;
  padding: 20px 50px;
  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

button{
  align-self: center;
  margin-top:50px !important;
}
  

@media screen and (max-width: 1250px) {
  img{
    display: none;
  }
}
