.card {
    width: 370px;
    position: relative;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .2s ease-in-out; 
    margin:20px
}

.card--image--container{
    width:350px;
    height:400px
}

.card--image {
    width: 100%;
    border-radius: 9px;
    height:100%;
    object-fit:cover;
}

.card--badge {
    background-color: white;
    padding: 5px 7px;
    border-radius: 8px;
    width: fit-content;
    margin: 5px;
}
        .card--badge-position {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 15px;
}
.card--stats {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.card--stats span{
    margin-left:5px;
}

.card--star {
    height: 14px;
}

.card--list{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 30px;
    flex-wrap: wrap;
    padding:50px 0px;
}
