.rating--box{
    background-color: #fac402;
    color: black;
    width: fit-content;
    padding: 13px 15px;
    font-size: 15px;
    border-radius: 7px;
}

.summary--info{
    display:flex;
    align-items: center;
    margin:20px 0px;
}

.summary--counter{
    margin-left: 20px;
}

.right{
    margin-left: auto;
}

.add--description-btn{
    margin-left: 70px;
}
.flex {
    display: flex;
}

.product--row {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.product--price {
    justify-content: center;
}

.product--price p {
    margin-left: 5px;
}

.prev--button {
    margin-bottom: 20px;
}

.product--size {
    padding: 5px;
    width: 150px;
    border-width: 0px;
}