.star-rating button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}

.star-rating{
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yellow {
  color: #fac402;
}

.dark_grey{
  color: #565348;
}

.light_grey {
  color: #ccc;
}

.star{
  font-size: 1em
}

.active{
  cursor:pointer;
}

.inactive{
  cursor: default;
}

.big{
  font-size: 3em;
  padding:10px;
}



