.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: #34aff4;
    color: white;
    padding: 20px;
    width:100%;
    position: fixed;
    top: 0;
    z-index:2
}

.header--profile{
    display: flex;
    margin-left: auto;
}

.header--profile p{
    margin-left: 10px;
}

.header--logout{
    margin-left: 30px;
}

@media (max-width:1200px){
    .header--profile{
        display: none;
    }

    .header--profile p{
        margin-left: auto;
    }

    .header{
        justify-content: space-between;
    }
}