.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: #34aff4;
    color: white;
    padding: 20px;
    width:100%;
    position: fixed;
    top: 0;
    z-index:1
}
  
.header--title {
    font-size: 1.25rem;
}