* {
    box-sizing: border-box;
  }
  
body {
    font-family: "Karla", sans-serif;
    margin: 0;
    background-color: rgb(215, 215, 215);
}

a{
  text-decoration: none;
  cursor: pointer;
}
h1{
  font-weight: 600;
  font-size: 23px;
}

h2{
  font-weight: 600;
  font-size: 21px;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 5px 0px;
}

hr{
  margin: 18px 0px; 
  border: 1px solid rgb(247, 246, 246); 
  border-radius: 1em; 
  background-color: rgb(247, 246, 246);
}

p{
  color: rgb(97, 97, 97);
  font-size:18px;
}

.bold{
  font-weight: bold;
}

.small{
  font-size: 14px;
}

.black{
  color: black
}

.gray{
  color: rgb(97, 97, 97);
  font-size: 12px;
  font-weight: 300;
} 

.blue{
  color:#34aff4;
  width: fit-content;
}

.white{
  color: white;
}

.background_blue{
  background-color: #34aff4;
}

.background_yellow{
  background-color: #fac402;
  color: black !important;
  font-weight: 600;
}

.center{
  margin: 20px auto;
  display: block;
}

.app-container {
  margin-top: 65px;
  height: 100%;
}

.app--main {
  background-color: white;
  margin: 0px 25%;
  border-radius: 10px;
  height: 100%;
}

.button_primary{
  color:white;
  border-width: 0;
  font-size: 1.1rem;
  padding:10px 40px;
  border-radius: 5px;
  transition: all .2s ease-in-out; 
  margin:20px;
  width: fit-content;
}

.button_primary:hover{
  transform: scale(1.07);
}

.previous{
  font-size: 20px;
}

.profile--image{
  width:50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .app--main{
    margin: 0px 0px;
    height: 100vh;
  }

  body{
    background-color: white;
  }
}